@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model StudentModel

@{
}

<h1>@Model.Name</h1>
<p>
    Has been registered on course @Model.Course at @Model.University
</p>
